@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

div.containerCo {
    background-color: rgba(250, 235, 215, 0.193);
    min-height: 100vh;
    width: 75%;
    display: flex;
}

div.menuCo {
    width: 100%;
}

div.containerCo div.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 0;
}

div.containerCo div.header div.logo {
    width: 150px;
}
div.containerCo div.header div.logo img {
    width: 100%;
}

div.containerCo div.header div.search {
    position: relative;
    width: 65%;
    height: 40px;
}

div.containerCo div.header div.search input {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #ecf4fe;
    padding: 15px 40px;
}

div.containerCo div.header div.search input:focus {
    outline: none;
}

div.containerCo div.header div.search i {
    position: absolute;
    top: 15px;
    left: 15px;
}

div.containerCo div.header div.info {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s ease;
}

div.infoHover {
    position: absolute;
    right: 33%;
    background-color: rgb(255, 149, 0);
    width: 200px;
    height: 90px;
    border-radius: 10px;
    text-align: center;
    display: none;
}

div.infoHover p:first-child {
    margin-top: 7px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

div.infoHover p:nth-child(2) {
    background-color: rgb(255, 165, 39);
    border-radius: 10px;
    padding: 10px 0px;
    /* width: 100px; */
    margin: 5px auto;
    color: white;
}

div.infoHover span {
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
}

div.containerCo div.header div.info i {
    font-size: 20px;
    border: 0.2px rgba(0, 0, 0, 0.219) solid;
    border-radius: 50%;
    padding: 10px 12px;
    background-color: white;
    cursor: pointer;
}

div.containerCo div.header div.info i:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 149, 0);
}

div.containerCo div.header div.backTo a {
    background-color: rgb(255, 149, 0);
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

/*categorie section*/

div.containerCo div.categories {
    margin: 0 auto;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    background-color: rgba(250, 235, 215, 0.193);
}

p.aucunProduit {
    background-color: #ecf4fe;
    padding: 10px 15px;
    font-weight: bold;
}
p.aucunProduit i {
    margin-right: 1rem;
}

div.containerCo div.categories a.categorie {
    border: 0.2px rgb(185, 185, 185) solid;
    border-radius: 45px;
    width: 75px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

div.containerCo div.categories a.categorie img {
    margin-top: 10px;
    width: 70%;
    border-radius: 50%;
    padding: 5px;
    border: 0.2px rgb(185, 185, 185) solid;
    background-color: white;
}

div.containerCo div.categories a.categorie p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.8rem;
}

div.containerCo div.categories a.categorie:hover {
    background-color: rgb(255, 149, 0);
    color: white;
    cursor: pointer;
}

/*alert section*/

div.containerCo div.alert__commande {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgb(255, 149, 0);
    color: white;
}

div.containerCo div.alert__commande i {
    padding: 10px;
    border: 0.2px rgb(185, 185, 185) solid;
    font-size: 1.3rem;
    border-radius: 50%;
    margin-right: 1rem;
}

div.containerCo div.alert__commande p {
    font-size: 0.9rem;
    font-weight: bold;
}

/*menuCo section*/

div.categoriesFood {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-items: center;
}

div.containerCo div.food {
    margin: 1rem 0 0 1rem;
}

div.containerCo div.food h1 {
    margin-top: 1rem;
    color: rgb(255, 128, 0);
}

div.containerCo div.food div.card-food {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 22%;
    height: 270px;
}

div.containerCo div.food div.card-food img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  width: 100%;
}

div.containerCo div.food div.card-food p.name {
    margin: 0.5rem 0 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

div.containerCo div.food div.card-food p.description {
    font-size: 0.9rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.701);
}

div.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
}

.card-body{
  height: 87%;
}

 div.cardFooter p {
    background-color: rgb(255, 149, 0);
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

 div.cardFooter button {
    background-color: white;
    border: 0.2px rgb(185, 185, 185) solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(255, 149, 0);
    cursor: pointer;
    font-weight: bold;
}

div.cardFooter button:hover {
    background-color: rgb(255, 149, 0);
    color: white;
}

/*swiper images */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*panier section*/

/*scroll bar*/
div.listCommande::-webkit-scrollbar {
    width: 7px;
}

div.listCommande::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


div.listCommande::-webkit-scrollbar-thumb {
  background: rgb(255, 128, 0);
  border-radius: 10px;
}


div.listCommande::-webkit-scrollbar-thumb:hover {
  background:rgb(255, 128, 0);
}

div.listCommande {
    height: 65vh;
    overflow: auto;
    margin-left: 1.3rem;
}

div.commandes {
    border-left: 0.2px rgba(185, 185, 185, 0.201) solid;
    /* margin-top: 1rem; */
    position: fixed;
    width: 25%;
    right: 0;
    top: 0;
    bottom: 0;
}
div.commandes h5 {
    margin-left: 1.3rem;
}

div.CommandeHeader {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    background-color: #ecf4fe;
    color: black;
    margin: 0 0 2rem 1.3rem;
}

div.CommandeHeader i {
    font-size: 2rem;
    margin-right: 1rem;
}

div.CommandeHeader h1 {
    font-size: 1rem;
}

div.commande {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border: 0.2px rgba(185, 185, 185, 0.26) solid;
    width: 100%;
    position: relative;
}

div.commande button.deleteCommande{
    cursor: pointer;
}

div.commande i.deleteCommande {
    color: red;
    font-size: 1.2rem;

}

div.commande img {
    width: 100px;
    height: 60px;
    margin-right: 1rem;
}

div.commande p {
    font-size: 0.8rem;
    font-weight: bold;
    flex:2;
}

div.commande button.deleteCommande {
    padding: 19px 15px;
    background-color: red;
    border:none;
    align-content: end;
}

div.commande button.deleteCommande i{
    color: white;
}



.Quantity {
    width: 30%;
    padding: 7.5px;
    background-color: #ecf4fe;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
}

.Quantity button {
    display: flex;
    padding: 1rem;
    cursor: pointer;
    width:60%;
    background: transparent;
    flex-direction: end;
    border: none;
}

.Quantity button:last-child {
    justify-content: flex-end;
}

div.addCommande {
    border-top: 0.2px rgba(185, 185, 185, 0.252) solid;
}
div.addCommande div.total {
    display: flex;
    justify-content: space-evenly;
    margin: .2rem 0 1rem 0.5rem;
    font-size: 1.3rem;
    font-weight: bolder;
}

div.addCommande button {
    border: none;
    background-color: rgb(255, 128, 0);
    padding: 15px 0;
    width: 80%;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 3rem;
}
